.page {
  padding-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.headerTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.createProjectIcon {
  width: 8rem;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.form {
  margin-bottom: 20rem;

  @media screen and (min-width: 576px) {
    padding-left: 9.5rem;
  }
}