.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.presentationSection {
    background-color: var(--background-alt-beige-gris-galet);
}

.explanationSection {
    background-color: var(--background-alt-blue-france);
}

.contactSection {
    background-color: var(--background-alt-grey);
}

.mainTitle {
    max-width: 45rem;
}

.logoImages {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.explanationSteps {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.accompagnementButton {
    margin-top: 2rem;
}

.contactButton {
    margin-top: 2rem;
}

.sectionTitle {

}