.title {
  margin-bottom: 0;
}

.subtitle {
  color: var(--text-mention-grey);
}

.cta {
  color: var(--text-title-blue-france);
}

.tag {
  border-radius: 0.25rem;
  padding: 0 0.375rem;
  text-transform: uppercase;
  background-color: var(--background-alt-red-marianne);
  color: var(--text-label-red-marianne);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.thematiques {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.thematique {
  background-color: var(--background-alt-blue-france);
}
