.container {
  border-radius: 0.5rem;
  border: 1px solid var(--border-default-grey);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-right: 1rem;
  align-items: center;
}

.logo {
  border-radius: calc(0.5rem - 1px) 0 0 0;
  height: 5rem;
  width: 5rem;
}

.mainHeader {
  flex: 1;
}

.title {
  margin-bottom: 0.5rem;
}

.title,
.button {
  width: max-content;
}

.description {
  display: block;
  width: max-content;
  margin-bottom: 0;
}

.content {
  border-top: 1px solid var(--border-default-grey);
  padding: 1.5rem 1rem;
}

.iframe {
  width: 100%;
  border: none;
}
